<article class="post card list-group">
        <h2 class="card-header">{{title}}</h2>
        <p class="card-body">{{post_body}}</p>
        <div class="list-group">
                <a href="/post/{{id}}">{{comments.length}}{{format_plural "comment" comments.length}}</a>
        </div>
</article>